body{
    margin: 0br;
    background-color: orange;
    background-color: black;
}

#div1 {
    padding: 8px;
    font-size: 2em;
    display: flex;
    background-color: orange;
    justify-content: space-around;
    top: 0px;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    
}

a{
    
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}

a:active{
    color: yellow;
}
#h1{
    color: orange;
    font-size: 3em;
    
}

hr{
  border: 3px solid orange;  
  
}

#h2{
    color: orange;
}