body{
    margin: 0br;
    background-color: black;
}

#div2{
     padding: 8px;
    font-size: 2em;
    display: flex;
    background-color: orange;
    justify-content: space-around;
    top: 0px;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}

a:active{
    color: yellow;
}
    

