body {
    background-color: black;
    display: grid;
    place-content: center;
    height: 95vh;
    color: white;
    
}

#head1 {
    font-size: 4em;
    font-family: 'Bebas Neue', cursive;
    background-color: orange;
    text-align: center;
}

#s1 {
    font-size: 3em;
    text-align: center; 
}

a {
    color: orange;
    text-decoration: none;
    
}

a:hover{
    color:yellow;
}

a:active{
    color:red;
}