body{
    margin: 0br;
    background-color: black;
}

#div2{
     padding: 8px;
    font-size: 2em;
    display: flex;
    background-color: orange;
    justify-content: space-around;
    top: 0px;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
}

#a2{
    color: black;
    text-decoration: none;
}

#a2:hover{
    color: white;
}

#a2:active{
    color: yellow;
}
    
#h11{
    color:orange;
    font-size:4em;
        font-family: 'Bebas Neue', cursive;
        

}
 

hr{
      border: 3px solid orange;  

}

#h22{
    color:orange;
    font-size:1.5em;
}

#h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    color:orange;
}

#a3{
    color:orange;
    text-decoration: none;
    font-size: 1.5em;
}

#a3:hover{
    color:yellow;
}

#a3:active{
    color:white;
}

#h4{
    color:orange;
    font-size: 2em;
}